html {
  font-size: 16px;
}

@import url('https://fonts.googleapis.com/css?family=Asap:400,400i,500,500i,600,600i|Inconsolata&display=swap');

body {
  margin: 0px auto;
  padding: 0px 40px;
  max-width: 700px;
  font-family: "Asap", sans-serif;
}

h1, h2, h3, h4, h5, h6, header {
  font-family: "Asap", sans-serif;
  font-weight: 500;
}

b, strong {
  font-weight: 500;
}

pre, code {
  font-family: "Inconsolata", monospace;
}


nav.artifacts {
  text-align: center;
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
}

span.artifacts {
  display: inline-block;
  width: 30px;
  height: 30px;
  border-radius: 15px;
  text-align: center;
  line-height: 30px;
  border: #e5e5e5
}

span.artifacts a {
   color: #dedede;
}
