@text-font-stack: "Source Sans Pro", serif;
@code-font-stack: "Source Code Pro", monospace;

@font-size: 17px;

@url-color: #428bca;
@url-color-hover: darken(@url-color, 15%);
@ref-color: #55bd7d;
@meta-color: #a0a8a3;

body {
   font-size: @font-size;
   font-family: @text-font-stack;
   margin: 0px auto;
   b, strong {
      font-weight: 600;
   }
   code, pre {
      font-family: @code-font-stack;
   }
}

header {
   background-color: lighten(@meta-color, 25%);
   h1 {
      margin-top: 0em;
   }
}

article.container {
   padding: 3em;
   max-width: 800px;
   width: 800px;
   margin: 0px auto;
}
section.container {
   padding: 3em;
   max-width: 920px;
   width: 920px;
   margin: 0px auto;
}

a {
   text-decoration: none;
   color: @url-color;
   &:hover {
      color: @url-color-hover;
   }
}

.citation {
   color: @ref-color;
}
