@text-font-stack: "Source Sans Pro", serif;
@code-font-stack: "Source Code Pro", monospace;

@font-size: 16px;

body {
   font-size: @font-size;
   font-family: @text-font-stack;
   padding: 2em;
   margin: 0px auto;
}
