html {
  font-size: 16px;
}

@import url('https://fonts.googleapis.com/css?family=Arimo:400,400i,700,700i|Cousine:400,400i,700,700i|Tinos:400,400i,700,700i&subset=greek,greek-ext');

body {
  margin: 0px auto;
  max-width: 800px;
  font-family: "Tinos", sans-serif;
}

h1, h2, h3, h4, h5, h6, header {
  font-family: "Arimo", sans-serif;
}

pre, code {
  font-family: "Cousine", monospace;
}


nav.artifacts {
  background-color: #f2f2f2;
  width: 100vw;
  text-align: center;
  left: 0;
  position: absolute;
}
