<!DOCTYPE html>
<html lang="$language$" dir="ltr">
<head>
  <meta charset="utf-8">
  <title>$title$</title>
  <script src="https://hypothes.is/embed.js" async></script>
  <link rel="stylesheet" href="barlock/assets/style.css">
</head>
<body>
  <header>
    <h1>$title$</h1>
    <section class="creators">
      $for(creators)$
      <span>$creators.familyname$, $creators.givennames$ -- $creators.affiliation$</span>
      $endfor$
    </section>
    <section class="abstract">
      $description$
    </section>
  </header>

  <nav class="artifacts">
    <span class="artifact">
      <a class="artifact pdf" href="$filename$.pdf">P</a>
      <span class="label">PDF version</span>
    </span>
    <span class="artifact">
      <a class="artifact tex" href="$filename$.tex">P</a>
      <span class="label">TeX source</span>
    </span>
  </nav>

  <article class="text">
    $body$
  </article>

</body>
</html>
